/* Global App styles */

.testing-contents {
    display: flex;
    border : 8px solid black;
    justify-content: center; /* flex-end, flex-start or centre contents inside the flexbox. */
    flex-wrap : wrap;
    align-items: center;
    align-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    font-size: 40px;
    background-color: yellow;

}